<p id="notice"><%= notice %></p>

<%= image_tag @user.picture, :id => "pic", :size => "110x110" %><br>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p>
  <b>Title:</b>
  <%= @user.title %>
</p>

<p>
  <b>My Vendors:</b>
  <ol>
	<% @user.vendors.each do |myv| %>
	  <li><%= myv.id%>|<%= link_to myv.vendor_name, Myvendor %></li>
	<% end %>
  </ol>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', :back %>
