<h1>Pages#home</h1>
	
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user %>
  <p id="notice"><%= notice %></p>

	<p>
	  <%= image_tag current_user.picture, :id => "pic", :size => "110x110" %><br>
	  <%= current_user.full_name %><br>
	  <%= link_to 'View profile', current_user %><br>
	  <%= link_to 'Edit profile', edit_user_path(current_user) %>
	</p>

	<p>
	  <h3>Top Recommendations</h3>
	  <ol>
	    <li><%= link_to 'Payroll Providers', '#' %></li>
	    <li><%= link_to 'Insurance Carriers', '#' %></li>
	    <li><%= link_to 'HR Information Systems', '#' %></li>
	    <li><%= link_to 'Hiring', '#' %></li>
	    <li><%= link_to 'Timekeeping', '#' %></li>	
	  </ol>
	</p>

	<h3>Top Tips</h3>
	<h5>Promote from within</h5>
	<p>Hire from within to get talent that undersands your business shdsakjhkdhsajhdjkahssahdjshahdj</p>
	<p>Hire from within to get talent that undersands your business shdsakjhkdhsajhdjkahssahdjshahdj</p>
	<h5>360 peer review</h5>
	<p>Hire from within to get talent that undersands your business shdsakjhkdhsajhdjkahssahdjshahdj</p>
	<p>Hire from within to get talent that undersands your business shdsakjhkdhsajhdjkahssahdjshahdj</p>
	<h5>Use linkedin to find great candidates</h5>
	<p>Hire from within to get talent that undersands your business shdsakjhkdhsajhdjkahssahdjshahdj</p>
	<p>Hire from within to get talent that undersands your business shdsakjhkdhsajhdjkahssahdjshahdj</p>



  <% else %>
<% end %> 
