<%= form_for(@myvendor) do |f| %>
  <% if @myvendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myvendor.errors.count, "error") %> prohibited this myvendor from being saved:</h2>

      <ul>
      <% @myvendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fav %><br />
    <%= f.check_box :fav %>
  </div>
  <div class="field">
    <%= f.label :use %><br />
    <%= f.check_box :use %>
  </div>
  <div class="field">
    <%= f.label :nouse %><br />
    <%= f.check_box :nouse %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all, :id, :full_name %>
  </div>
  <div class="field">
    <%= f.label :vendor_choose %><br />
    <%= f.text_field :vendor_choose, data: {autocomplete_source: Vendor.order(:vendor_name).map(&:vendor_name)} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
