<h1>Listing myvendors</h1>

<table>
  <tr>
    <th>Fav</th>
    <th>Use</th>
    <th>Nouse</th>
    <th>Comments</th>
    <th>User</th>
    <th>Vendor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @myvendors.each do |myvendor| %>
  <tr>
    <td><%= myvendor.fav %></td>
    <td><%= myvendor.use %></td>
    <td><%= myvendor.nouse %></td>
    <td><%= myvendor.comments %></td>
    <td><%= myvendor.user_id %></td>
    <td><%= myvendor.vendor_id %></td>
    <td><%= link_to 'Show', myvendor %></td>
    <td><%= link_to 'Edit', edit_myvendor_path(myvendor) %></td>
    <td><%= link_to 'Destroy', myvendor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Myvendor', new_myvendor_path %>
