<p id="notice"><%= notice %></p>

<p>
  <b>Fav:</b>
  <%= @myvendor.fav %>
</p>

<p>
  <b>Use:</b>
  <%= @myvendor.use %>
</p>

<p>
  <b>Comments:</b>
  <%= @myvendor.comments %>
</p>

<p>
  <b>User:</b>
  <%= @myvendor.user_id %>
  <%= User.find(@myvendor.user_id).first_name %>
</p>

<p>
  <b>Vendor:</b>
  <%= @myvendor.vendor_id %>
  <%= Vendor.find(@myvendor.vendor_id).vendor_name%>
</p>


<%= link_to 'Edit', edit_myvendor_path(@myvendor) %> |
<%= link_to 'Back', :back %>
