<%= form_for @vendor, :html => { :multipart => true } do |f| %>

<%= error_messages_for(@vendor) %>

  <div class="field">
    <%= f.label :vendor_name %><br />
    <%= f.text_field :vendor_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :logo_link %><br />
    <%= f.text_field :logo_link %>
  </div>
  <div class="field">
    <%= f.file_field :logo %>
  </div>
  <div class="field">
    <%= f.label :url_link %><br />
    <%= f.text_field :url_link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
