<!DOCTYPE html>
<html>
<head>
  <title>Hr</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id= "header">	

	<div id= "headerwrapper">
	  <div id="logo">
        <a href="/"></a>
		<h1><a href="/">GoHR</a></h1>
	  </div><!-- end .logo -->	
  	  <ul id = "headnav">
  	  	<li><a href="/">Home</a></li>
  	  	<li><a href="/about">About</a></li>
  	  	<li><a href="/contact">Contact</a></li>
        <% if current_user%>
           <li>
	         <a href= "#">Welcome <%= current_user.full_name %></a>
	         <ul> 
			   <li><%= link_to 'View profile', current_user %></li>
			   <li><%= link_to 'Edit profile', edit_user_path(current_user) %></li>
			   <li><%= link_to "Sign out", signout_path %></li>
		     </ul>
	       </li>
  	  	   <!--  <li><%= link_to "Sign out", signout_path %></li> -->           
        <% else %>
  	  	   <li><%= link_to "Sign in with Linkedin", '/auth/linkedin' %></li>
        <% end %>
  	  </ul><!-- end .headnav -->
      <div style="clear: both;"></div>

  	</div><!-- end .headerwrapper -->  
</div><!-- end .header -->
  <div id="main">
  <% flash.each do |name, msg| %>
    <div id="notice"><%= content_tag :div, msg, :id => "flash_#{name}" %></div>
  <% end %>

    <%= yield %>
  </div><!-- end #main -->

</body>
</html>
